/*
<!-- Author : Mohammed Awwal -->
<!-- Title: Login Page -->
<!-- Finalized on : Wednesday, 10 April, 2019 -->
<!-- Course : Web Tech -->
*/


body {font-family: Lato, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1; margin-right: 10%; margin-left: 10%;}
footer {margin-right: 10%; margin-left: 10%;}
/*font styles for the body, position/alignment of form and footer*/

/*styling for the footstyle as explained earlier*/
.footStyle {

    padding:24px;
    margin-top:28px;
    margin-left:20px;
    margin-right:10px;
    border: solid;
    border-color: lightgreen;
    border-radius: 8px;
    opacity: 1;
}


/*style the error message ,
shrink it to size 12 pixels,
and move it to the right side by a length of 75% relative to the screen*/
/*THIS WAS VERY HARD TO MAKE*/
.error-message {
  color: #cc0033;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  justify-content: right;
  margin-left: 75%;
  margin-right: 0;
}


/*we're styling both input fields*/
input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc; /*sol*/
  box-sizing: border-box;
}

/*special design for both login button and reset button*/
/*for my homepage - I want the theme to be BLACK ON WHITE (with some minor colors)*/
/*while the info page*/
.buttclass {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: solid;
  border-width: 1.5px;
  border-color: grey;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

/*when you move the mouse on the button it should turn blue*/
.buttclass:hover {
  background-color: darkblue; 
  opacity: 0.8;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/*styling for the security image placeholder*/
img.avatar {
  width: 20%;
  border-radius: 20%;
}


.container {
  padding: 16px;
  }


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
    }
  }
}
